/* Custom CSS Code */
/* Collection Page Side Menu */
.collection-page__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .collection-page--side-menu {
    display: flex;
    flex-direction: row;
  }

  .collection-page__menu {
    flex: 0 0 220px;
    padding: 40px 20px;
    border-right: 1px solid var(--color-border);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .collection-page__menu-list {
    margin-bottom: 20px;
  }

  .collection-page__menu > .collection-page__menu-list:not(:first-child):not(:nth-child(2)) {
    margin-bottom: 0px;
  }

  .collection-page__menu > .collection-page__menu-list:nth-child(-n + 2) > li:not(:first-child) {
    font-size: 14px;
  }

  .collection-page__menu-list > li:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .collection-page__menu-list-item:first-of-type {
    text-transform: uppercase;
  }

  .collection-page__menu-list-item {
    margin-bottom: 3px;
  }

  .collection-list--item-underline > li > div {
    position: relative;
  }

  .collection-list--item-underline > li > div:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 1px);
    height: 1px;
    background-color: var(--color-scheme-text);
  }

  .collection-page__grid {
    flex: 1 1 0;
  }

}

/* Menu active underline */
.menu-item--active-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Size Guide Popup */
.product-popup-modal--padding-10 {
  padding: 10px;
}

.product-popup-modal__content-info--center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .product-media-container--justify-center {
    display: flex;
    justify-content: center;
  }
}

/* Shipping product block */
.shipping-icon--min-height {
  min-width: 1.25rem;
}

/* Cart page */
.cart__klarna-app {
  margin-top: 10px;
}

.cart-image--large-width {
  width: 5rem !important;
}

@media screen and (min-width: 768px){
  .cart-image--large-width {
    width: 8rem !important;
  }
  .cart-note--margin-top-30 {
    margin-top: 30px;
  }

  .padding-lr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .cart-table td:first-of-type,
  .cart-table th:first-of-type {
    padding-left: 0 !important;
  }

  .cart-table th:last-of-type,
  .cart-table td:last-of-type {
    padding-right: 0 !important;
  }

  .translate-left--0 {
    left: 0;
  }

  .center-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .center-cart--absolute {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  }

  .center-cart--flex {
    display: flex;
  }
}

.cart-button--height {
  height: 50px;
}

.cart-error--custom-message {
  position: absolute;
  bottom: -18px;
  left: 15px;
  transform: translateX(0%);
  width: 240px;
}

@media screen and (min-width: 768px) {
  .cart-error--custom-message {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}


#weChatModal {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weChatModal h2 {
  margin-bottom: 1rem;
  text-align: center;
}

#weChatModal img {
  width: 30vw;
  min-width: 320px;
  position: relative;
}

#weChatModal img:before {
  content: "x";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 10px;
  width: 10px;
  display: inline-block;
}

#weChatModal:before {
  content: "x";
  color: #ffffff;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000;
  padding-bottom: 2px;
}

#weChatModal:hover:before {
  cursor: pointer;
}

#ContactForm > input[type="submit"] {
  width: 100% !important;
}