/* Custom CSS Code */
/* Collection Page Side Menu */
.collection-page__menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .collection-page--side-menu {
    display: flex;
    flex-direction: row;
  }

  .collection-page__menu {
    flex: 0 0 220px;
    padding: 40px 20px;
    border-right: 1px solid var(--color-border);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .collection-page__menu-list {
    margin-bottom: 20px;
  }

  .collection-page__menu > .collection-page__menu-list:nth-of-type(4),
  .collection-page__menu > .collection-page__menu-list:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .collection-page__menu > .collection-page__menu-list:nth-child(-n + 2) > li:not(:first-child) {
    font-size: 14px;
  }

  .collection-page__menu-list > li:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .collection-page__menu-list-item:first-of-type {
    text-transform: uppercase;
  }

  .collection-page__menu-list-item {
    margin-bottom: 3px;
  }

  .collection-list--item-underline > li > div {
    position: relative;
  }

  .collection-list--item-underline > li > div:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 1px);
    height: 1px;
    background-color: var(--color-scheme-text);
  }

  .collection-page__grid {
    flex: 1 1 0;
  }

}

/* Size Guide Popup */
.product-popup-modal--padding-10 {
  padding: 10px;
}

.product-popup-modal__content-info--center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .product-media-container--justify-center {
    display: flex;
    justify-content: center;
  }
}

/* Shipping product block */
.shipping-icon--min-height {
  min-width: 1.25rem;
}